<div class="top-row ps-3 navbar navbar-dark" style="background: linear-gradient(135deg, #00aaff 0%, #0077cc 50%, #00aaff 100%);" >
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="color: black;">SandboxTools</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()"  style="background: linear-gradient(135deg, #ffaa00 0%, #cc7700 100%);" >
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" style="color: black;">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ChessLobby" style="color: black;">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Chess Lobby
            </NavLink>
        </div>
    </nav>
</div>